.grid {
	width: 606px;
	height: 606px;
	display: flex;
	flex-wrap: wrap;
}

.square{
	transition: background-color 1s ease-out 100ms
}

.square:hover {
	background-color: #2e2329;
	 cursor: pointer; 
}
	

.time-score{
	width: 175px;
	height: 130px;	
	display: flex;
	flex-wrap: wrap;	
	background-image: url("Scorewall.png");
	background-size: cover;
	justify-content: center;
}

.square {
	height: 200px;
	width: 200px;
	border: solid black 1px;
}

.mole {
	background-image: url("Mmole.png");
	background-size: cover;
}

#game-board {
	background-image: url("Wall.png") ;
	background-size: cover;
	display: flex;
	justify-content: center;
	height: 100%;
}

body {
	margin: 0px;
}

